@import '../../styles/variables';

.calendar-page {
  &__content {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 12px;
    }
  }
}
